body {
  background: url('web.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin:0;
}

img.dykkersykeLogo {
  width: 100%;
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 );
}

div.menuContainer {
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
  align-items: flex-end;
}

div.menuChild {
  max-width: 80%;
  width: 320px;
  margin: 8% 4% 4% 0;
}

iframe {
  position: absolute;
  bottom: 0;
  height: 20px;
  background: black;
  opacity: 0.6;

}

div.menu {
  display: inline-block;
  margin: 8% 12% 0 0;
  max-width: 640px;
  text-shadow: -3px -3px 5px #000000;
  color: white;
  font-family: "europa-1","europa-2";
  font-weight: bold;
  text-align: right;
}


img.cover {
  width: 40vh;
  height: 40vh;
  max-width: 55vw;
  max-height: 55vw;

  border: 2px solid white;

}

div.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 50px;
  left: 5vh;
  color: #FFF;
  -ms-transform: rotate(-10deg); /* IE 9 */
   -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
   transform: rotate(-10deg);
}

@media (min-width : 320px) {
  div.menu {
    font-size: 2em;
  }
}
@media (min-width : 640px) {
  div.menu {
    font-size: 3em;
  }
}
@media (min-width : 1024px) {
  div.menu {
    font-size: 4em;
  }
}








/* line 2, stdin */
html, body {
  height: 100%; }

/* line 13, stdin */
.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333; }

/* line 23, stdin */
.bubble-toggle:hover {
  background: rgba(255, 255, 255, 0.75); }

/* line 27, stdin */
.bubbles {
  position: absolute;
  margin: 0 auto; }

/* line 35, stdin */
.bubble-container {
  position: absolute;
  bottom: 0;
  -webkit-animation: bubblerise 4s infinite ease-in;
  -moz-animation: bubblerise 4s infinite ease-in;
  -ms-animation: bubblerise 4s infinite ease-in;
  animation: bubblerise 4s infinite ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 46, stdin */
.bubble {
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-animation: bubblewobble 0.4s infinite linear;
  -moz-animation: bubblewobble 0.4s infinite linear;
  -ms-animation: bubblewobble 0.4s infinite linear;
  animation: bubblewobble 0.4s infinite linear; }

@-webkit-keyframes bubblerise {
  /* line 62, stdin */
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

  /* line 67, stdin */
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 72, stdin */
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 76, stdin */
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }

@-moz-keyframes bubblerise {
  /* line 83, stdin */
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

  /* line 88, stdin */
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 93, stdin */
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 97, stdin */
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }

@-ms-keyframes bubblerise {
  /* line 104, stdin */
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

  /* line 109, stdin */
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 114, stdin */
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 118, stdin */
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }

@keyframes bubblerise {
  /* line 125, stdin */
  0% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }

  /* line 130, stdin */
  5% {
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 135, stdin */
  99% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  /* line 139, stdin */
  100% {
    bottom: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }

@-webkit-keyframes bubblewobble {
  /* line 146, stdin */
  0% {
    margin-left: 0; }

  /* line 149, stdin */
  50% {
    margin-left: 2px; } }

@-moz-keyframes bubblewobble {
  /* line 154, stdin */
  0% {
    margin-left: 0; }

  /* line 157, stdin */
  50% {
    margin-left: 2px; } }

@-ms-keyframes bubblewobble {
  /* line 162, stdin */
  0% {
    margin-left: 0; }

  /* line 165, stdin */
  50% {
    margin-left: 2px; } }

@keyframes bubblewobble {
  /* line 170, stdin */
  0% {
    margin-left: 0; }

  /* line 173, stdin */
  50% {
    margin-left: 2px; } }
